*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: #ccc;
	font-family: 'Mukta', sans-serif;
	font-size: 18px;
}
.container{
	background: #fff;
}
nav{
	background-color: #1e11ab;
	border-radius:5px;
	height:44px;
}
nav ul li a{
	color:#fff;
}
nav ul{
	margin-left:20px;
}
nav ul .active{
	background-color: red;

}
nav ul li a:hover{
	background-color: red;
	color:#fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-toggler {
    padding: .14rem .5rem;
    font-size: 1rem;
    line-height: .5;
    border: 1px solid #ccc;
}
.navbar-collapse{
	background:#1e11ab;
	
}
hr{
	display:none;
}
@media (max-width: 991.98px) { 
	.navbar{
		border-radius:0px;
	}	
	.navbar-collapse{
		margin: 6px -16px 0px -16px;
	}
	nav ul{
		margin-left:0px;
	}	
	hr{
		display:block;
		height:0.1px;
		background:#fff;
		border:none;
		margin:0px 0px 8px 0px;
	}
}
.banner{
	border:2px solid red;
	margin:50px 1px 30px 1px;
}
.banner .col-md-12 a{
	text-decoration: none;
	color:#32549a;
}
.banner .col-md-12 h3{
	font-size: 50px;
	font-weight: bold;
	padding: 20px 0px 10px 0px;
}
.banner .col-md-12 img{
	margin:auto;
	height:350px;
	padding-bottom:10px;
}
@media(max-width:480px){
	.banner .col-md-12 h3{
		font-size: 20px;
		font-weight: bold;
	}
	.banner .text-center{
		font-size: 14px;
	}
}

.news{
	background-color: #ccc;
	margin: 0px 1px 20px 1px;
	border:1px solid black;
}
.news a{
	text-decoration: none;
	color:#32549a;
}
.news h4 a{
	font-weight: bold;
	padding-bottom: 0 !important;
}
