*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: #ccc;
	font-family: 'Mukta', sans-serif !important;
	font-size: 18px;
}
.container{
	background: #fff;
	max-width:1310px !important;
	width:100%;
	margin:0 auto;
	padding-left:30px;
	padding-right:30px;
}
.navbar{
	background-color:#1e11ab;
	border-radius:5px;
	margin-right:0px;
	margin-left:0px;

}
.navbar{
	height: 44px;
	margin-left: 20px;
}
.navbar .collapse .navbar-nav .nav-item a{
	color:#fff;
	padding-right:15px;
	padding-left:15px;
}
.navbar .collapse .navbar-nav .active{
	background-color: red;
}
.navbar .collapse .navbar-nav .nav-item a:hover{
	background-color: red;
}
.navbar .navbar-toggler {
    padding: .14rem .5rem;
    font-size: 1rem;
    line-height: .5;
    border: 1px solid #ccc;
    align-content: right;
}
/*@media (max-width: 1099px) {
	.navbar .collapse .navbar-nav .nav-item a{
	color:#fff;
	padding-right:15px;
	padding-left:15px;
	}

}
*//*
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-toggler {
    padding: .14rem .5rem;
    font-size: 1rem;
    line-height: .5;
    border: 1px solid #ccc;
}
.navbar-collapse{
	background:#1e11ab;
	
}
hr{
	display:none;
}
@media (max-width: 991.98px) { 
	.navbar{
		border-radius:0px;
	}	
	.navbar-collapse{
		margin: 6px -16px 0px -16px;
	}
	nav ul{
		margin-left:0px;
	}	
	hr{
		display:block;
		height:0.1px;
		background:#fff;
		border:none;
		margin:0px 0px 8px 0px;
	}
}
*/